*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul,li{
    cursor: pointer;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
a:hover{
    color: rgb(255, 196, 0);
    font-size: 24px;
    transition:1s ease-in-out
}
a{
    text-decoration: none;
    color: white;
}